{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	reverse_proxy anubis:3000 {
		header_up X-Real-IP {remote_host}
		header_up X-Http-Version {http.request.proto}
		header_up X-TLS-SNI-Name {tls_server_name}
	}
}
