@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "wintersehn";
  default: true;

  --color-primary: #b42b5f;
  --color-primary-content: #ffffff;
}

@theme {
  --color-wntrs-muted: #a8b3bf;
  --color-wntrs-slate: #6c829c;
  --color-wntrs-border: #e3e5e8;
  --color-wntrs-highlight: #f0dbe3;
  --text-title: 2.5rem;
}
